@media screen and (min-width: 425px) {
    #about {
        padding: 64px 0;
    
        #about_title {
            color: #0080ff;
            text-align: center;
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 64px;
            text-transform: uppercase;
        }
    
        .about_text {
            color: #000000;
            font-size: 24px;
            font-weight: 300;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 16px;
    
            span {
                font-weight: 500;
            }
        }
        
        #about_stack {
            padding: 32px 0;
    
            #about_stack_title {
                font-weight: 300;
                text-align: center;
                font-size: 24px;
                margin-bottom: 16px;
            }
    
            #about_stack_list {
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                color: #0080ff;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #about {
        padding: 64px 32px;
    
        #about_title {
            color: #0080ff;
            text-align: center;
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 64px;
            text-transform: uppercase;
        }
    
        .about_text {
            color: #000000;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 16px;
    
            span {
                font-weight: 500;
            }
        }
        
        #about_stack {
            #about_stack_title {
                font-weight: 400;
                text-align: center;
                font-size: 20px;
                margin-bottom: 16px;
                line-height: 1.5;
            }
    
            #about_stack_list {
                text-align: center;
                text-transform: uppercase;
                font-weight: 900;
                color: #0080ff;
                font-size: 12px;
                line-height: 1.5;
            }
        }
    }
}