@media screen and (min-width: 900px) {
    #contact {
        padding: 64px;
        text-align: center;
    
        #contact_title {
            color: #0080ff;
            text-align: center;
            font-size: 28px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 64px;
        }

        #contact_subtitle {
            color: #000000;
            font-size: 24px;
            font-weight: 300;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 24px;
        }

        #contact_email {
            text-align: center;
            font-weight: 900;
            color: #0080ff;
            font-size: 16px;
            line-height: 1.5;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    #contact {
        padding: 48px;
        text-align: center;
    
        #contact_title {
            color: #0080ff;
            text-align: center;
            font-size: 21px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 48px;
        }

        #contact_subtitle {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 24px;
        }

        #contact_email {
            text-align: center;
            font-weight: 900;
            color: #0080ff;
            font-size: 16px;
            line-height: 1.5;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 600px) {
    #contact {
        padding: 32px;
        text-align: center;
    
        #contact_title {
            color: #0080ff;
            text-align: center;
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 32px;
        }

        #contact_subtitle {
            color: #000000;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 14px;
        }

        #contact_email {
            text-align: center;
            font-weight: 900;
            color: #0080ff;
            font-size: 12px;
            line-height: 1.5;
            text-decoration: none;
        }
    }
}