@media screen and (min-width: 750px) {
    #menu {
        top: -100vh;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 250ms linear;
    
        .menu_link {
            color: #000000;
            text-decoration: none;
            font-size: 28px;
            text-transform: uppercase;
            padding: 28px;
            font-weight: 900;
            transition: color 250ms linear;
    
            &:hover {
                color: #0080ff;
            }
        }
    
        #menu_burger {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            width: 48px;
            height: 48px;
            position: fixed;
            right: 64px;
            top: 64px;
            cursor: pointer;
            transition: all 250ms linear;
            z-index: 2;
            background-color: #0080ff;
            border-radius: 100%;
        
            .menu_burger_line {
                display: flex;
                height: 2px;
                width: 16px;
                background-color: #ffffff;
                transition: all 250ms linear;
    
                &:first-child {
                    margin-bottom: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) and (min-width: 500px) {
    #menu {
        top: -100vh;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 250ms linear;
    
        .menu_link {
            color: #000000;
            text-decoration: none;
            font-size: 21px;
            text-transform: uppercase;
            padding: 21px;
            font-weight: 900;
            transition: transform 250ms linear;
    
            &:hover {
                color: #0080ff;
            }
        }
    
        #menu_burger {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            width: 48px;
            height: 48px;
            position: fixed;
            right: 48px;
            top: 48px;
            cursor: pointer;
            transition: all 250ms linear;
            z-index: 2;
            background-color: #0080ff;
            border-radius: 100%;
        
            .menu_burger_line {
                display: flex;
                height: 2px;
                width: 16px;
                background-color: #ffffff;
                transition: all 250ms linear;
    
                &:first-child {
                    margin-bottom: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #menu {
        top: -100vh;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 250ms linear;
    
        .menu_link {
            color: #000000;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            padding: 14px;
            font-weight: 900;
            transition: color 250ms linear;
    
            &:hover {
                color: #0080ff;
            }
        }
    
        #menu_burger {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            width: 48px;
            height: 48px;
            position: fixed;
            right: 32px;
            top: 32px;
            cursor: pointer;
            transition: all 250ms linear;
            z-index: 2;
            background-color: #0080ff;
            border-radius: 100%;
        
            .menu_burger_line {
                display: flex;
                height: 2px;
                width: 16px;
                background-color: #ffffff;
                transition: all 250ms linear;

                &:first-child {
                    margin-bottom: 4px;
                }
            }
        }
    }
}