@media screen and (min-width: 900px) {
    #portfolio {
        padding: 64px;

        #portfolio_title {
            color: #0080ff;
            text-align: center;
            font-size: 28px;
            font-weight: 900;
            margin-bottom: 64px;
            text-transform: uppercase;
        }
    
        .portfolio_item {
            margin-bottom: 128px;

            &:nth-child(odd) {
                .portfolio_item_title {
                    text-align: center;
                    margin-bottom: 24px;
        
                    .portfolio_item_title_text {
                        display: inline;
                        color: #000000;
                        font-size: 24px;
                        font-weight: 900;
                    }
                }
        
                .portfolio_item_content {
                    display: flex;
                    flex-direction: row-reverse;
        
                    .portfolio_item_content_image {
                        width: 50%;
                        height: 50%;
                    }
        
                    .portfolio_item_content_description {
                        width: 50%;
                        margin: 32px;
        
                        .portfolio_item_content_description_text {
                            font-size: 16px;
                            margin-bottom: 16px;
                            line-height: 1.5;
                            color: #000000;
                        }
        
                        .portfolio_item_content_description_stack {
                            font-size: 10px;
                            text-transform: uppercase;
                            font-weight: 900;
                            margin-bottom: 16px;
                            color: #000000;
                            line-height: 1.5;
                        }
        
                        .portfolio_item_content_description_button {
                            display: flex;
                            align-items: center;
        
                            .portfolio_item_content_description_button_visit {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                font-size: 10px;
                                font-weight: 900;
                                text-transform: uppercase;
                                border: none;
                                height: 48px;
                                width: 120px;
                                border-radius: 48px;
                                background-color: #0080ff;
                                color: #ffffff;
                                cursor: pointer;
                                transition: all 250ms linear;
                                margin-right: 16px;
        
                                &:hover {
                                    transform: translateY(-2px);
                                }
                            }
        
                            .portfolio_item_content_description_button_source {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                font-size: 10px;
                                font-weight: 900;
                                text-transform: uppercase;
                                border: none;
                                height: 46px;
                                width: 118px;
                                border-radius: 48px;
                                color: #000000;
                                border: solid 1px #000000;
                                cursor: pointer;
                                transition: all 250ms linear;
        
                                &:hover {
                                    transform: translateY(-2px);
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(even) {
                .portfolio_item_title {
                    text-align: center;
                    margin-bottom: 24px;
        
                    .portfolio_item_title_text {
                        display: inline;
                        color: #000000;
                        font-size: 24px;
                        font-weight: 900;
                    }
                }
        
                .portfolio_item_content {
                    display: flex;
        
                    .portfolio_item_content_image {
                        width: 50%;
                        height: 50%;
                    }
        
                    .portfolio_item_content_description {
                        width: 50%;
                        margin: 32px;
        
                        .portfolio_item_content_description_text {
                            font-size: 16px;
                            margin-bottom: 16px;
                            line-height: 1.5;
                            color: #000000;
                        }
        
                        .portfolio_item_content_description_stack {
                            font-size: 10px;
                            text-transform: uppercase;
                            font-weight: 900;
                            margin-bottom: 16px;
                            color: #000000;
                            line-height: 1.5;
                        }

                        .portfolio_item_content_description_button {
                            display: flex;
                            align-items: center;
        
                            .portfolio_item_content_description_button_visit {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                font-size: 10px;
                                font-weight: 900;
                                text-transform: uppercase;
                                border: none;
                                height: 48px;
                                width: 120px;
                                border-radius: 48px;
                                background-color: #0080ff;
                                color: #ffffff;
                                cursor: pointer;
                                transition: all 250ms linear;
                                margin-right: 16px;
        
                                &:hover {
                                    transform: translateY(-2px);
                                }
                            }
        
                            .portfolio_item_content_description_button_source {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                font-size: 10px;
                                font-weight: 900;
                                text-transform: uppercase;
                                border: none;
                                height: 46px;
                                width: 118px;
                                border-radius: 48px;
                                color: #000000;
                                border: solid 1px #000000;
                                cursor: pointer;
                                transition: all 250ms linear;
        
                                &:hover {
                                    transform: translateY(-2px);
                                }
                            }
                        }
                    }
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    #portfolio {
        padding: 48px;
    
        #portfolio_title {
            color: #0080ff;
            text-align: center;
            font-size: 21px;
            font-weight: 900;
            margin-bottom: 32px;
            text-transform: uppercase;
        }

        .portfolio_item {
            margin-bottom: 96px;

            .portfolio_item_title {
                text-align: center;
                margin-bottom: 16px;
    
                .portfolio_item_title_text {
                    display: inline;
                    color: #000000;
                    font-size: 16px;
                    font-weight: 900;
                }
            }

            .portfolio_item_content {
                display: flex;
                flex-direction: column;
    
                .portfolio_item_content_image {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 16px;
                }

                .portfolio_item_content_description {
                    .portfolio_item_content_description_text {
                        font-size: 16px;
                        margin-bottom: 16px;
                        line-height: 1.5;
                        color: #000000;
                        text-align: center;
                        font-weight: 400;
                    }

                    .portfolio_item_content_description_stack {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 900;
                        color: #000000;
                        font-size: 10px;
                        line-height: 1.5;
                        margin-bottom: 16px;
                    }

                    .portfolio_item_content_description_button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .portfolio_item_content_description_button_visit {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            font-size: 10px;
                            font-weight: 900;
                            text-transform: uppercase;
                            border: none;
                            height: 48px;
                            width: 120px;
                            border-radius: 48px;
                            background-color: #0080ff;
                            color: #ffffff;
                            cursor: pointer;
                            transition: all 250ms linear;
                            margin-right: 16px;
    
                            &:hover {
                                transform: translateY(-2px);
                            }
                        }
    
                        .portfolio_item_content_description_button_source {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            font-size: 10px;
                            font-weight: 900;
                            text-transform: uppercase;
                            border: none;
                            height: 46px;
                            width: 118px;
                            border-radius: 48px;
                            color: #000000;
                            border: solid 1px #000000;
                            cursor: pointer;
                            transition: all 250ms linear;
    
                            &:hover {
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #portfolio {
        padding: 32px;
    
        #portfolio_title {
            color: #0080ff;
            text-align: center;
            font-size: 14px;
            font-weight: 900;
            margin-bottom: 32px;
            text-transform: uppercase;
        }

        .portfolio_item {
            margin-bottom: 64px;

            .portfolio_item_title {
                text-align: center;
                margin-bottom: 14px;
    
                .portfolio_item_title_text {
                    display: inline;
                    color: #000000;
                    font-size: 14px;
                    font-weight: 900;
                }
            }

            .portfolio_item_content {
                display: flex;
                flex-direction: column;
    
                .portfolio_item_content_image {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 14px;
                }

                .portfolio_item_content_description {
                    .portfolio_item_content_description_text {
                        font-size: 14px;
                        margin-bottom: 14px;
                        line-height: 1.5;
                        color: #000000;
                        text-align: center;
                        font-weight: 400;
                    }

                    .portfolio_item_content_description_stack {
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 900;
                        color: #000000;
                        font-size: 10px;
                        line-height: 1.5;
                        margin-bottom: 16px;
                    }

                    .portfolio_item_content_description_button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .portfolio_item_content_description_button_visit {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            font-size: 10px;
                            font-weight: 900;
                            text-transform: uppercase;
                            border: none;
                            height: 48px;
                            width: 120px;
                            border-radius: 48px;
                            background-color: #0080ff;
                            color: #ffffff;
                            cursor: pointer;
                            transition: all 250ms linear;
                            margin-right: 16px;
    
                            &:hover {
                                transform: translateY(-2px);
                            }
                        }
    
                        .portfolio_item_content_description_button_source {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            font-size: 10px;
                            font-weight: 900;
                            text-transform: uppercase;
                            border: none;
                            height: 46px;
                            width: 118px;
                            border-radius: 48px;
                            color: #000000;
                            border: solid 1px #000000;
                            cursor: pointer;
                            transition: all 250ms linear;
    
                            &:hover {
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}